<header>
	<h1>{{ title }}</h1>

	<form class="form-inline">
		<div class="form-group pull-left">
			<input ng-model="inputTask" type="text" class="form-control" placeholder="add task here">
		</div>
		<button ng-click="addTask(inputTask)" class="btn btn-default" type="button">ADD</button>
		<div class="pull-right">
			<div class="form-group">
				<input ng-model="search" type="text" class="form-control" placeholder="search a task here">
			</div>
			<button ng-click="filterTask(search)" type="submit" class="btn btn-default">SEARCH</button>
		</div>

	</form>
</header>

<nav>
	<div class="tab">
		<ul>
			<li ng-class="{selected: status === ''}">
				<a href="#/" >All</a>
			</li>
			<li ng-class="{selected: status === 'active'}">
				<a href="#/active">Active</a>
			</li>
			<li ng-class="{selected: status === 'completed'}">
				<a href="#/completed" >Completed</a>
			</li>
		</ul>
	</div>
</nav>

<div class="tasks" ng-repeat="task in tasks | filter: statusFilter">
	<div class="single-task">

		<script>console.log("show tasks template");</script>

		<div class="row">
			<div class="col-xs-1 col-sm-1 col-md-1">
				<input ng-click="complete(task)" ng-checked="task.completed === true" type="checkbox" class="pull-left">
			</div>

			<div class="col-xs-7 col-sm-7 col-md-7">
				<p ng-class="{completed: task.completed}"> {{ task.content }} </p>

			</div>

			<div class="col-xs-3 col-sm-3 col-md-3 date">
				<p> {{task.date | date}} </p>	
			</div>

			<div class="col-xs-1 col-sm-1 col-md-1">
				<p ng-click="removeTask(task)"><span class="glyphicon glyphicon-remove"></span></p>
			</div>

		</div>

	</div>

</div>

